* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}


h1 {
    font-size: 75px;

    color: aliceblue;

}

h2 {
    font: size 80px;
    text-align: center;
}

p {
    color: aliceblue;
}

.d-today {
    color: black;
    text-align: center;
}

.title-1 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-top: 100px;



}

.flexible-container {
    display: flex;
    margin-top: 100px;
    justify-content: space-evenly;
    font-weight: 100px;
    font-size: 45px;
    align-items: center;
}

.box {
    width: 200px;
    height: 100px;
    padding: 50px;
    border: 3px solid #be4040;
    background-color: rgb(207, 180, 180);
    color: #be4040;
}










.social-moto {

    text-align: center;
    padding: 300px;
}



.donate-now {
    background-image: url(donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1750px;
    height: 820px;

}

.donate-button {
    text-decoration: none;
    background-image: linear-gradient(orange, #FF5959);
    color: white;


    justify-content: center;

    font-weight: 700;
    padding: 20px 35px;
    border-radius: 10px;
    margin-top: 35px;
    text-align: center;

}

.middle {
    margin-left: 44%;
    margin-buttom: 90%;

}

.t-today {
    margin-top: 5%;
    margin-right: 2%;

}

#line {
    margin: 7%;
    margin-bottom: -1%;
}

.humble-footer {
    background-color: black;
    padding: 100px;

    text-align: center;

    font-size: 20px;




}

#being {
    font-size: 50px;
    color: aqua;

}